
@media screen and (max-width: 600px) {
    header {
        padding: 0 !important;
    }

    .logo {
        top: 2%;

        img {
            width: 75px;
        }
    }

    .section {
        padding: 2rem 2.5rem !important;
    }

    .home-content {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .right-home {
        grid-row: 1;
        padding-right: 0 !important;
        width: 75%;
        margin: 0 auto;

        .name {
            font-size: 2.1rem !important;
            text-align: center;
            padding-top: 5.5rem;
        }

        p {
            font-size: 1.1rem;
        }
    }

    .home-content .left-home .img{
        margin: 0 auto;
        width: 75%;
    }

    .ctrl {
        width: 50px !important;
        height: 50px !important;

        i {
            font-size: 1.1rem !important;
        }
    }

    .about-container {
        grid-template-columns: repeat(1, 1fr);
        width: 75%;
        margin: 0 auto;

        .right-about {
            padding-top: 1rem;

            img {
                width: 160px !important;
                height: 230px !important;
            }
        }        

        .left-about {
            padding-right: 0;

            p {
                padding-left: 0;
                font-size: 1.1rem;
            }

            h4 {
                font-size: 1.5rem;
            }
        }
    }

    .about-title {
        padding-top: 0;
        padding-bottom: 2.5rem;
        font-size: 1.5rem;
    }

    .btn-text {
        padding: 0 1.3rem !important;
        font-size: 1rem;
    }

    .btn-icon {
        font-size: 1rem;
    }

    .title {
        h2 {
            font-size: 2.5rem;

            .bg-text {
                font-size: 3.5rem;
            }
        }
    }

    .timeline {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
        margin: 0 auto;
        width: 75%;

        h5 {
            font-size: 1.2rem !important;

            span {
                font-size: 1.2rem;
            }
        }

        p {
            font-size: 1rem;
        }

        .timeline-item {
            padding-left: 2.5rem;

            .tl-icon {
                width: 45px !important;
                height: 45px !important;
    
                i {
                    font-size: 1.1rem !important;
                }
            }
        }

        .tl-duration {
            font-size: .8rem !important;
        }
    }

    .hobbies {
        margin: 0 auto;
        width: 75%;
        grid-template-columns: repeat(2, 1fr);
    }
}