* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E0FFF0;
    font-family: 'Patrick Hand SC', cursive;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.3rem;
}

.logo {
    top: 7%;
    right: 3%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 95px;
    }
}

.grim-image {
    margin-left: 9rem;
    width: 80%;
    height: 80%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.subcontent-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: -7rem 18rem 2rem;

    .left-subcontent, .center-subcontent, .right-subcontent{
        h4 {
            font-size: 1.4rem;
            font-weight: 600;

            span {
                font-weight: 400;
                font-size: 1.2rem;
            }
        }
    }
}

.subcontent-container {
    .subcontent-white {
        padding: 5rem 18rem;
        background-color: white;

        .subcontent-title {
            h3 {
                font-size: 2.2rem;
                margin-bottom: 1.5rem;
            }
        }

        a {
            text-decoration: none;
        }

        img {
            margin: 0;
            position: relative;
            width: 100%;
            height: 100%;
        }

        .subheading {
            h4 {
                font-size: 1.1rem;
            }

            .subheading-wrl {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 6rem;
            }

            .subheading-h {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-left: 10rem;

                img {
                    height: 100%;
                    width: 65%;
                }
            }

            .subheading-img {
                margin-left: 25rem;

                img {
                    height: 100%;
                    width: 45%;
                }
            }
        }
    }

    .subcontent-green {
        margin: 5rem 18rem;

        .subcontent-title {
            h3 {
                font-size: 2.2rem;
                margin-bottom: 1.5rem;
            }
        }

        .design-process {
            margin: 0;
            position: relative;
            left: 25%;

            img {
                width: 50%;
                height: 60%;
            }
        }

        .task {
            padding: 3rem;
            background-color: white;
            border-radius: 10px;

            h5 {
                font-size: 1.7rem;
                font-weight: 600;
                margin-bottom: .8rem;
            }

            span {
                font-size: 1.3rem;
            }

            .task-list {
                font-size: 1.4rem;
                font-weight: 600;
                color: rgb(135, 74, 0);
                line-height: 3.2rem;
                letter-spacing: 1.1px;

                .num {
                    color: black;
                    font-weight: 500;
                    font-size: 1.3rem;
                    margin-left: 2rem;
                }
            }
        }

        .affinity {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
            .hover-affinity {
                background-color: rgba(69, 69, 69, 0.5);
                color: white;
                padding: 1rem;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
            }

            .right-hover-affinity {
                background-color: rgba(69, 69, 69, 0.5);
                color: white;
                padding: 1rem;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
            }

            a {
                text-decoration: none;
            }

            .left-affinity, .right-affinity {
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .major-findings {
            a {
                text-decoration: none;
            }

            .hover-findings {
                background-color: rgba(69, 69, 69, 0.5);
                color: white;
                opacity: 0;
                padding: 1rem 1rem 1rem 1rem;
                margin-right: -1rem;
            }
        }

        img {
            margin: 0;
            position: relative;
            width: 100%;
            height: 100%;
        }

        .video 
        {
            display: block;
        }
    }

    .left-affinity:hover .hover-affinity, .right-affinity:hover .right-hover-affinity, 
    .major-findings:hover .hover-findings{
        opacity: 1;
        animation: slide-in 1000ms;
    }

    @keyframes slide-in {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0%);
        }
    }

    .view-btn {
        font-size: 1.1rem;
        display: inline-block;
        border-radius: 14px;
        padding: 1rem;
        color: black;
        background-color: #99debd;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #99debd;
            border-radius: 14px;
            z-index: -2;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: darken(#99debd, 15%);
            transition: all .3s;
            border-radius: 14px;
            z-index: -1;
        }

        &:hover {
            color: white;

            &:before {
                width: 100%;
            }
        }
    }

    p {
        font-size: 1.1rem;
        line-height: 2.2rem;
        font-weight: 400;

        span {
            font-weight: 600;
        }
    }

    ul {
        font-size: 1.1rem;
        padding-left: 3rem;
        font-weight: 600;
        line-height: 2.7rem;
        margin-block-start: 1rem;

        span {
            font-weight: 400;
        }
    }
}